.content {
	margin: 10px auto;
	height: 100%;
	width: 61em;
}
section {
	height: 20rem;
}
html {
	font-family: 'Asap', sans-serif;
}
hr {
	margin-top: 0em;
	width: 75%;
}
h2 {
	margin-left: 9rem;
    margin-top: 7rem;
}
/* INTRODUCTION SECTION*/
	.introduction {
    	background-image: url('../images/first-background.jpg');
    	background-position: 90% 88%;
    	background-repeat: no-repeat;
    	background-size: 105%;
    	height: 29rem;
    	overflow: auto;
    	width: 61em;
    	margin: 0 auto;
	}
	.introduction > h1 {
		font-size: 40pt;
		font-weight: lighter;
		margin-top: 6rem;
		text-align: center;
		margin-bottom: 0;
	}
	.introduction > p {
    	width: 22rem;
    	margin: 14px auto;
    	text-align: center;
    	font-size: 14pt;
	}
/* ABOUT SECTION*/
	.about-paragraph {
		width: 21rem;
    	margin-left: 11rem;
    	height: 11rem;
    	display: inline-block;
	}
	.about-avatar {
		background-image: url(../images/goldblum.jpg);
    	background-position: 0 22%;
    	background-size: cover;
    	height: 10rem;
    	width: 10rem;
    	border-radius: 50%;
    	overflow: hidden;
    	float: right;
    	margin-right: 15rem;
    	margin-top: 1.5rem;
	}
/* NAVIGATION SECTION*/
	nav {
		background-color: #fff;
		position: fixed;
		width: 100%;
    	border-bottom: 1px solid #DDD;
    	z-index: 9999;
    	margin: 0 auto;
	}
	.links li {
		display: inline-block;
		margin: 1rem;
		margin-top: 8px;
		margin-bottom: 0;
	}
	.links ul {
		border: 1px solid black;	
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0 auto;
		height: 2rem;
	}
/* MY WORK SECTION*/
	.my-work {
		height: 100%;
	}
	.screenshots {
		text-align: center;
		border:1px solid black;
		height: 83rem;
	}