.content {
	margin: 0 auto;
	border: 1px solid black;
	height: 100%;
	width: 100%;
}
section {
	height: 20rem;
	border: 1px solid red;
}
/* INTRODUCTION SECTION*/
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: 90% 20%;
    background-repeat: no-repeat;
    background-size: 105%;
    height: 47rem;
    overflow: auto;
    width:100%;
    margin: 0 auto;
}

.introduction > h1 {
	font-size: 60pt;
	font-weight: lighter;
	margin-top: 23rem;
	text-align: center;
}
/*ABOUT SECTION*/
.about-paragraph {
	width: 51%;
	margin-left: 5%;
	height: 11rem;
	border: 1px solid black;
}
/* NAVIGATION SECTION */
nav {
	background-color: #fff;
	position: fixed;
	width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
    margin: 0 auto;
}
.links li {
	display: inline-block;
	margin: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}
ul {
	border: 1px solid black;	
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0 auto;
}
/* MY WORK SECTION*/
.my-work {
	height: 100%;
}
img {
	display: block;
	height: 18rem;
	width: auto;
	margin:0 auto;
}

html {
	font-family: 'Asap', sans-serif;
}

@media (min-width: 1440px) {
	p{
		font-size: 15pt;
	}
	h2 {
		font-size: 30pt;
		margin-left: 14rem;
		margin-top: 5rem;
		margin-bottom: 0;
	}
	section {
		height: 47rem;
		width: 80%;
		margin: 0 auto;
	}
	/* INTRODUCTION SECTION */
	.introduction {
    	background-image: url(../images/first-background.jpg);
    	background-position: 80% 100%;
    	background-repeat: no-repeat;
    	background-size: 105%;
    	height: 47rem;
    	overflow: auto;
    	width: 100%;
    	margin: 0 auto;
	}

	.introduction > h1 {
    	font-size: 52pt;
    	margin-top: 11rem;
    	text-align: center;
	}
	.introduction > p {
		text-align: center;
		width: 37rem;
		margin: 0 auto;
		font-size: 20pt;
	}
	/* ABOUT SECTION */
	.about-paragraph {
		height: 14rem;
		width: 37rem;
		margin: 0 auto;
		margin-top: 3rem;
	}
	.about-avatar {
		background-image: url(../images/goldblum.jpg);
  		background-position: 0 22%;
  		background-size: cover;
  		height:17rem;
  		width:17rem;
  		border-radius:50%;
  		overflow:hidden;
  		margin:auto;
	}
}